KAGGLE_USERNAME=your_kaggle_username
KAGGLE_KEY=your_kaggle_api_key

# Aiven MySQL
MYSQL_HOST=mysql-xxxxxxx-yourproject.a.aivencloud.com
MYSQL_PORT=12345
MYSQL_USER=avnadmin
MYSQL_PASSWORD=your_aiven_mysql_password
MYSQL_DB=movie_registry
MYSQL_SSL_CA=./certs/ca.pem

# Cloud SQL PostgreSQL
PG_CONNECT_MODE=direct          # "direct" or "connector"
PG_HOST=34.xx.xx.xx
PG_PORT=5432
PG_USER=loader
PG_PASSWORD=your_cloud_sql_postgres_password
PG_DB=movie_credits
PG_INSTANCE_CONNECTION_NAME=project:europe-west1:movie-credits

# BigQuery
GCP_PROJECT=your-gcp-project-id
BQ_LOCATION=EU                    # must match Cloud SQL region family
BQ_CONNECTION_ID=movie-credits-conn
PG_BQ_READER_USER=bqreader
PG_BQ_READER_PASSWORD=your_bqreader_password
BQ_DS_REGISTRY=raw_registry
BQ_DS_CREDITS=raw_credits
BQ_DS_FILES=raw_files
BQ_DS_MART=mart
